{% extends "base.html" %}

{% load custom_tags %}
{% load static %}

{% block content %}
<div class="grid grid-cols-7 h-max gap-6 mt-10">
    <div class=" col-start-1 col-span-3 row-start-1 row-span-1 grid grid-cols-2 grid-rows-1 gap-6">
        <!-- INCOME START -->
        <div class="bg-dark col-start-1 col-span-1 row-start-1 row-span-1 rounded-3xl p-4">
            <div>
                <span class="font-bold text-slate-300">Income</span>
            </div>
            <div class="text-center list-none list-outside hover:list-inside leading-loose font-bold text-5xl text-slate-400 hover:text-slate-200">
                {{ incomes.total }}
            </div>
        </div>
            <!-- INCOME END -->
        
        <!-- EXPENSES START -->
        <div class="bg-dark col-start-2 col-span-1 row-start-1 row-span-1 rounded-3xl p-4">
            <div>
                <span class="font-bold text-slate-300">Expenses</span>
            </div>
            <div class="text-center list-none list-outside hover:list-inside leading-loose font-bold text-5xl text-slate-400 hover:text-slate-200">
                {{ expenses.total }}
            </div>
        </div>
        <!-- EXPENSES END -->
    </div>

    <!-- BALANCE START-->
        <div class="bg-dark col-start-1 col-span-3 row-start-2 row-span-2 rounded-3xl p-5">
            <div class="flex justify-between">
                <span class="font-bold text-2xl text-slate-200">Balance</span>
            </div>
            <div class="flex justify-between">

                
                <!-- PIECHART START -->
                <div>
                    <div>
                        <canvas class="overflow-visible mt-5 p-1" id="chartDoughnut"></canvas>
                    </div>
                    
                    
                    <!-- Chart doughnut -->
                    {{ doughnutChartData|json_script:"doughnutData" }}
                </div>
                <!-- PIECHART END -->
                <div class=" overflow-y-auto vertical-scroll h-350 w-140">
                    {% for card in cards %}
                    <div class="text-slate-200 mt-4">
                        <span>
                            <svg class="w-6S h-6 inline-block mb-1" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z"></path>
                            </svg>
                            {{ card.bank_name }}
                        </span>
                        <p class=" text-slate-400 hover:text-slate-200 ml-4">
                            ${{ card.balance }}
                        </p>
                    </div>
                    {% endfor %}
                </div>

            </div>   
        </div>
    <!-- BALANCE END -->
    
    <!-- WITHDRAWAL HISTORY START -->
    <div class="bg-dark col-start-4 col-span-2 row-start-1 row-span-1 rounded-3xl p-4">
        <div>
            <span class="font-bold text-slate-300">Recent expenses</span>
        </div>
        <div class="list-none list-outside hover:list-inside leading-loose divide-y divide-violet">
            {% for withdraw in withdraws %}
                <div class="flex justify-between text-slate-400 hover:text-slate-200">
                    <span><svg class="w-4 h-4 inline-block mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                    {{withdraw.target_card_number}}</span>
                    <span class="mr-2.5 mt-0.5">${{withdraw.amount}}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- WITHDRAWAL HISTORY END -->

    <!-- INCOME HISTORY START -->
    <div class="bg-dark col-start-6 col-span-2 row-start-1 row-span-1 rounded-3xl p-4">
        <div class="flex justify-between">
            <span class="font-bold text-slate-300">Recent incomes</span>
        </div>
        <div class="list-none list-outside hover:list-inside leading-loose divide-y divide-violet">
            {% for deposit in deposits %}
                <div class="flex justify-between text-slate-400 hover:text-slate-200">
                    <span><svg class="w-4 h-4 inline-block mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                    {{deposit.target_card_number}}</span>
                    <span class="mr-2.5 mt-0.5">${{deposit.amount}}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- INCOME HISTORY END -->

    <!-- GRAPH START -->
    <div class="bg-dark col-start-4 col-span-4 row-start-2 row-span-2 rounded-3xl p-4">
        <div>
            <span class="font-bold text-slate-300">Expenditure summary</span>
        </div>  
        <canvas class="p-2 mt-2" id="chartLine"></canvas>

        <!-- Required chart.js -->
        
        <!-- Chart line -->
        {{ lineChartData|json_script:"lineData" }}
    </div>
    <script src="{% static 'chart.umd.js' %}"></script>
    <script src="{% static '/main/js/index.js' %}"></script>
</div>
{% endblock %}
