{% load static tailwind_tags %}
{% load static %}
{% load separate %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}

    <title>Bank Dashboard</title>
</head>
<body>
    <div class="bg-dark w-full h-screen grid grid-cols-12">
        <!-- SIDEBAR START -->
        <div class="col-span-2 py-10">
            <div class="ml-16 text-violet font-bold block text-3xl"><a href="#">ZBank.</a></div>
            <ul class="pt-20 leading-8">
                <li class="block font-medium text-menu hover:text-menulight ml-16 mb-5 hover:bg-light hover:rounded-l-full hover:ml-8 hover:pr-10 hover:pl-2">
                    <a href="/">
                        <svg class="w-6 h-6 inline-block mb-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="block font-medium text-menu hover:text-menulight ml-16 mb-5 hover:bg-light hover:rounded-l-full hover:ml-8 hover:pr-10 hover:pl-2">
                    <a href="/transactions">
                        <svg class="w-6 h-6 inline-block mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"></path></svg>
                        <span>Transactions</span>
                    </a>
                </li>
                <li class="block font-medium text-menu hover:text-menulight ml-16 mb-5 hover:bg-light hover:rounded-l-full hover:ml-8 hover:pr-10 hover:pl-2">
                    <a href="#">
                        <svg class="w-6 h-6 inline-block mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"></path></svg>
                        <span>Cards</span>
                    </a>
                </li>
                <li class="block font-medium text-menu hover:text-menulight ml-16 mb-5 hover:bg-light hover:rounded-l-full hover:ml-8 hover:pr-10 hover:pl-2">
                    <a href="#">
                        <svg class="w-6 h-6 inline-block mb-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- SIDEBAR END -->

        <!-- MAIN BODY START -->
        <div class="bg-light col-span-10 py-8 px-5">
            <!-- TOP HEADER START -->
            <div class="flex justify-between px-1">
                <p class="text-lg text-white inline">
                    Welcome back {{ user.first_name }},
                </p>
                <div class="text-sm text-slate-300 mr-3 flex items-center space-x-4 relative" >
                    <img id="avatarButton" type="button" onclick="dropDownFunction()" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="w-10 h-10 rounded-full cursor-pointer" src="{% static '/main/img/profile.webp'%}" alt="User dropdown">
                    <!-- Dropdown menu -->
                    <div id="userDropdown" hidden class="z-10 absolute top-12 -left-4 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                        <div>Bonnie Green</div>
                        <div class="font-medium truncate">name@flowbite.com</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                        </li>
                        </ul>
                        <div class="py-1">
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
                        </div>
                    </div>
                    <div class="font-medium dark:text-white">
                        <div>{{ user.first_name }} {{user.last_name }}</div>
                        <div class="text-sm text-gray-500 dark:text-gray-400">{% now "l, j F Y" %}</div>
                    </div>
                </div >
            </div>
            <!-- TOP HEADER END -->

            <!-- CONTENT BODY START -->
            <div class="grid grid-cols-7 h-max gap-6 mt-10">
                <div class=" col-start-1 col-span-3 row-start-1 row-span-1 grid grid-cols-2 grid-rows-1 gap-6">
                    <!-- INCOME START -->
                    <div class="bg-dark col-start-1 col-span-1 row-start-1 row-span-1 rounded-3xl p-4">
                        <div class="flex justify-between">
                            <span class="font-bold text-slate-300">Income</span>
                            <button class="rounded-2xl text-center text-sm bg-light text-neutral-400 p-1.5">
                                <span class="pl-1">Recent</span>
                                <svg class="w-3 h-3 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                            </button>
                        </div>
                        <div class="text-center list-none list-outside hover:list-inside leading-loose font-bold text-5xl text-slate-400 hover:text-slate-200">
                            {{ incomes.total }}
                        </div>
                    </div>
                        <!-- INCOME END -->
                    
                    <!-- EXPENSES START -->
                    <div class="bg-dark col-start-2 col-span-1 row-start-1 row-span-1 rounded-3xl p-4">
                        <div class="flex justify-between">
                            <span class="font-bold text-slate-300">Expenses</span>
                            <button class="rounded-2xl text-center text-sm bg-light text-neutral-400 p-1.5">
                                <span class="pl-1">Recent</span>
                                <svg class="w-3 h-3 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                            </button>
                        </div>
                        <div class="text-center list-none list-outside hover:list-inside leading-loose font-bold text-5xl text-slate-400 hover:text-slate-200">
                            {{ expenses.total }}
                        </div>
                    </div>
                    <!-- EXPENSES END -->
                </div>

                <!-- BALANCE START-->
                    <div class="bg-dark col-start-1 col-span-3 row-start-2 row-span-2 rounded-3xl p-5">
                        <div class="flex justify-between">
                            <span class="font-bold text-2xl text-slate-200">Balance</span>
                        </div>
                        <div class="flex justify-between">

                            <div>
                                {% for card in cards %}
                                <div class="text-slate-200 mt-4">
                                    <span>
                                        <!-- <svg class="w-4 h-4 inline-block mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg> -->
                                        <svg class="w-6S h-6 inline-block mb-1" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z"></path>
                                        </svg>
                                        {{ card.bank_name }}
                                    </span>
                                    <p class=" text-slate-400 hover:text-slate-200 ml-4">
                                        ${{ card.balance }}
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                            
                            <!-- PIECHART START -->
                            <div>
                                <div class="m-4">

                                    <canvas class="" id="chartDoughnut"></canvas>
                                </div>
                                  
                                <!-- Required chart.js -->
                                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                
                                <!-- Chart doughnut -->
                                <script>
                                    var doughnutChartData = JSON.parse('{{ doughnutChartData|safe }}')
                                    console.log(doughnutChartData)

                                    const dataDoughnut = doughnutChartData

                                const configDoughnut = {
                                    type: "doughnut",
                                    data: dataDoughnut,
                                    options: {
                                        plugins: {
                                            legend: {
                                                labels: {
                                                    color : "#FBFBFF",
                                                    font: {
                                                        size: 12
                                                    }
                                                }
                                            }
                                        },
                                    }
                                    };
                                
                                var chartBar = new Chart(
                                    document.getElementById("chartDoughnut"),
                                    configDoughnut
                                );
                                </script>
                            </div>
                            <!-- PIECHART END -->
                        </div>   
                    </div>
                <!-- BALANCE END -->
                
                <!-- WITHDRAWAL HISTORY START -->
                <div class="bg-dark col-start-4 col-span-2 row-start-1 row-span-1 rounded-3xl p-4">
                    <div class="flex justify-between">
                        <span class="font-bold text-slate-300">Recent expenses</span>
                        <button class="rounded-2xl text-center text-sm bg-light text-neutral-400 p-1.5">
                            <span class="pl-1">Recent</span>
                            <svg class="w-3 h-3 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                        </button>
                    </div>
                    <div class="list-none list-outside hover:list-inside leading-loose">
                        {% for withdraw in withdraws %}
                            <div class="flex justify-between text-slate-400 hover:text-slate-200">
                                <span><svg class="w-4 h-4 inline-block mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                                {{withdraw.target_card_number}}</span>
                                <span class="mr-2.5 mt-0.5">${{withdraw.amount}}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- WITHDRAWAL HISTORY END -->

                <!-- INCOME HISTORY START -->
                <div class="bg-dark col-start-6 col-span-2 row-start-1 row-span-1 rounded-3xl p-4">
                    <div class="flex justify-between">
                        <span class="font-bold text-slate-300">Recent incomes</span>
                        <button class="rounded-2xl text-center text-sm bg-light text-neutral-400 p-1.5">
                            <span class="pl-1">Recent</span>
                            <svg class="w-3 h-3 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                        </button>
                    </div>
                    <div class="list-none list-outside hover:list-inside leading-loose">
                        {% for deposit in deposits %}
                            <div class="flex justify-between text-slate-400 hover:text-slate-200">
                                <span><svg class="w-4 h-4 inline-block mb-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                                {{deposit.target_card_number}}</span>
                                <span class="mr-2.5 mt-0.5">${{deposit.amount}}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- INCOME HISTORY END -->

                <!-- GRAPH START -->
                <div class="bg-dark col-start-4 col-span-4 row-start-2 row-span-2 rounded-3xl p-4">
                    <div class="flex justify-between">
                        <span class="font-bold text-slate-300">Expenditure summary</span>
                        <button class="rounded-2xl text-center text-sm bg-light text-neutral-400 p-1.5">
                            <span class="pl-1">Recent</span>
                            <svg class="w-3 h-3 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                        </button>
                    </div>  
                    <canvas class="p-2" id="chartLine"></canvas>

                    <!-- Required chart.js -->
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                    <!-- Chart line -->
                    <script>
                    var lineChartData = JSON.parse('{{ lineChartData|safe }}')
                    console.log(lineChartData)
                    const data = lineChartData

                    const configLineChart = {
                        type: "line",
                        data,
                        options: {
                            plugins: {
                                legend: {
                                    labels: {
                                        color : "#FBFBFF",
                                        font: {
                                            size: 14
                                        }
                                    }
                                }
                            },

                            scales: {
                                y : {
                                    ticks : {
                                        color : '#FBFBFF'
                                    }
                                },
                                x : {
                                    ticks : {
                                        color : '#FBFBFF'
                                    }
                                }
                            }
                        },
                    };

                    var chartLine = new Chart(
                        document.getElementById("chartLine"),
                        configLineChart
                    );
                    </script>
                    <script>
                        function dropDownFunction(){
                            element = document.getElementById("userDropdown")
                            if (element.hidden == false){
                                element.hidden = true
                            } else {
                                element.hidden = false
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
