{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}
<title>Transactions</title>
{% endblock %}

{% block content %}
<div class="grid grid-cols-7 gap-6 mt-10">
    <!-- TRANSACTIONS TABLE START -->   
    <div class="bg-dark col-start-1 col-span-full relative shadow-md rounded-3xl">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
            <thead class="text-xs uppercase sticky top-0 bg-violet text-dark">
                <tr class="">
                    <th scope="col" class="px-6 py-3 rounded-tl-3xl box-border" style="width: 22%;">
                        From
                    </th>
                    <th scope="col" class="px-6 py-3 box-border" style="width: 20%;">
                        To
                    </th>
                    <th scope="col" class="px-6 py-3 box-border" style="width: 15%;">
                        Amount
                    </th>
                    <th scope="col" class="px-6 py-3 box-border " style="width: 19%;">
                        Action
                    </th>
                    <th scope="col" class="px-6 py-3 rounded-tr-3xl box-border" style="width: 13%;">
                        Notes
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        <div class="vertical-scroll overflow-y-auto h-430 rounded-bl-3xl  mr-1">
                            <table class="w-full">
                                {% for transaction in transactions %}
                                <tr id="{{ transaction.transaction_id }}" class="border-b bg-dark border-gray-700 hover:bg-gray-600">
                                    <form action="edit/{{transaction.transaction_id}}/" method="post">
                                        {% csrf_token %}
                                        <td class="px-3 py-4 box-border" style="width: 15%;">
                                            <input class="input border-2 border-transparent enabled:animate-breathing-violet rounded-md px-1 enabled:border-violet bg-inherit p-0 text-sm w-full" type="datetime-local" name="date_time" value="{{ transaction.date_time | date:'Y-m-d H:i'}}" onchange="addChangedInput()" disabled>
                                        </td>
                                        <td class="px-3 py-4 box-border" style="width: 13%;">
                                            <!-- <input class="input enabled:border-2 enabled:animate-pulse rounded-md px-1 border-violet bg-inherit p-0 border-0 text-sm w-full" type="text" name="target_card_number" value="{{ transaction.target_card_number }}" onchange="addChangedInput()" disabled> -->
                                            <select class="input border-2 border-transparent enabled:animate-breathing-violet rounded-md px-1 enabled:border-violet bg-inherit p-0 text-sm w-full" onchange="addChangedInput()" disabled name="card" id="id_card">
                                                {% for card in user.cards.all %}
                                                {% if card.card_number == transaction.card.card_number %}
                                                <option selected value="{{ card.id }}">{{ card.card_number }}</option>
                                                {% else %}
                                                <option value="{{ card.id }}">{{ card.card_number }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td class=" px-3 py-4 box-border" style="width: 2%;">
                                            <div>
                                                <button type="button" class="input action_button border-2 border-transparent enabled:animate-breathing-violet rounded-md px-1 enabled:border-violet bg-inherit p-0 text-sm w-full" onclick="changeAction('{{ transaction.transaction_id }}')" disabled>
                                                    <input type="text" class="input action_input" name="action" value="{{ transaction.action }}" hidden disabled>
                                                    {% if transaction.action == 'deposit'%}
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path class="text-green-600 green_arrow" stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path class="text-red-600 red_arrow opacity-20" stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                                                    </svg>
                                                    {% else %}
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path class="text-green-600 green_arrow opacity-20" stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                                                    </svg>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                    <path class="text-red-600 red_arrow" stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                                                    </svg>
                                                    {% endif %}
                                                </button>
                                            </div>
                                        </td>
                                        <td class="px-3 py-4 box-border" style="width: 15%;">
                                            <input class="input border-2 border-transparent enabled:animate-breathing-violet rounded-md px-1 enabled:border-violet bg-inherit p-0 text-sm w-full" type="text" name="target_card_number" value="{{ transaction.target_card_number }}" onchange="addChangedInput()" disabled>
                                        </td>
                                        <td class="px-3 py-4 box-border " style="width: 8%;">
                                            <div class="flex justify-center">
                                                <span>$</span>
                                                <input class="input border-2 border-transparent enabled:animate-breathing-violet rounded-md px-1 enabled:border-violet bg-inherit p-0 text-sm w-full" type="number" name="amount" value="{{ transaction.amount }}" onchange="addChangedInput()" disabled>
                                            </div>
                                        </td>
                                        <td class="px-6 py-4 box-border" style="width: 3%;">
                                            <div class="relative">
                                                <button type="button" class="px-3 " onclick="messageEnable('{{ transaction.transaction_id}}')">
                                                    View
                                                </button>
                                                <input class="input border-2 border-transparent enabled:animate-breathing-violet px-1 enabled:border-violet bg-dark w-80 p-3 text-sm z-10 absolute top-6 right-6 divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" type="text" name="notes" id="note{{ transaction.transaction_id }}" value="{{ transaction.notes }}"  onchange="addChangedInput()" hidden disabled>
                                            </div>
                                        </td>
                                        <td class="px-3 py-4 box-border" style="width: 3%;">
                                            <div class="flex justify-between">
                                                <button type="button" value="Edit" class="px-3 bg-light rounded-3xl border-violet border-2 edit_button" onclick="edit('{{ transaction.transaction_id}}')">
                                                    Edit
                                                </button>
                                                <a href="delete/{{ transaction.transaction_id }}/" class="px-3  bg-light rounded-3xl border-violet border-2">
                                                    Delete
                                                </a>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                                {% endfor %}
                                <script src="{% static '/main/js/transactions.js' %}"></script>

                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- TRANSACTIONS TABLE END -->
    <!-- TABLE INPUT START -->
    <div class="col-start-1 col-span-full rounded-3xl bg-violet p-3 text-sm text-gray-400">
        <form action="" method="post">
            {% csrf_token %}
            <div class="flex justify-around">
                <div class="flex justify-around">
                    <div class="w-1/6 mr-4 bg-dark rounded-2xl px-4 py-3">
                        <label class="font-bold text-gray-400" for="">Date and time:</label>
                        <input class="input mt-2 bg-violet text-dark rounded-lg p-2 border-0 text-sm w-full" type="datetime-local" name="date_time" value="">
                    </div>
                    <div class="w-1/6 mr-4 bg-dark rounded-2xl px-4 py-3">
                        <label class="font-bold text-gray-400" for="">From:</label>
                        <!-- <input class="input mt-2 bg-violet text-dark placeholder-slate-600 rounded-lg p-2 border-0 text-sm w-full" type="text" name="card" value="" placeholder="Card number..."> -->
                        <select class="input appearance-none mt-2 bg-violet text-dark placeholder-slate-600 rounded-lg p-2 border-0 text-sm w-full" onchange="addChangedInput()" name="card" id="id_card">
                            {% for card in user.cards.all %}
                            <option value="{{ card.id }}">{{ card.card_number }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-1/6 mr-4 bg-dark rounded-2xl px-4 py-3">
                        <label class="font-bold text-gray-400" for="">Action:</label>
                        <select class="input mt-2 bg-violet text-dark rounded-lg p-2 border-0 text-sm w-full" name="action">
                            <option value="deposit">Deposit</option>
                            <option value="withdraw">Withdraw</option>
                        </select>
                        <!-- <input class="input mt-2 bg-violet text-dark placeholder-slate-600 rounded-lg p-2 border-0 text-sm w-full" type="text" name="to" value=""> -->
                    </div>
                    <div class="w-1/6 mr-4 bg-dark rounded-2xl px-4 py-3">
                        <label class="font-bold text-gray-400" for="">To:</label>
                        <input class="input mt-2 bg-violet text-dark placeholder-slate-600 rounded-lg p-2 border-0 text-sm w-full" type="text" name="target_card_number" value="" placeholder="Card number...">
                    </div>
                    <div class="w-1/6 mr-4 bg-dark rounded-2xl px-4 py-3">
                        <label class="font-bold text-gray-400" for="">Amount:</label>
                        <div class="flex justify-center ">
                            <span class=" mt-4 -ml-3 mr-1">$</span>
                            <input class="input mt-2 bg-violet text-dark placeholder-slate-600 rounded-lg p-2 border-0 text-sm w-full" type="number" name="amount" value="" >
                        </div>
                        <!-- <input class="input mt-2 bg-violet text-dark placeholder-slate-600 rounded-lg p-2 border-0 text-sm w-full" type="text" name="to" value="" placeholder="$"> -->
                    </div>
                    <div class="w-1/6 bg-dark rounded-xl p-4">
                        <label class="font-bold text-gray-400" for="">Notes:</label>
                        <input class="input mt-2 bg-violet text-dark placeholder-slate-600 rounded-lg p-2 border-0 text-sm w-full" type="text" name="notes" value="" placeholder="Notes...">
                    </div>
                </div>
                <div class="flex justify-center align-middle">
                    <button class="  px-3 ml-2 bg-dark rounded-xl border-violet border-2" type="submit">
                        Enter
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- TABLE INPUT END -->
</div>
{% endblock %}